<mat-toolbar color="primary">
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    routerLink=""
  >
    Home
  </button>
  <button
    mat-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    Packages
  </button>
  <button
    mat-raised-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    routerLink="./sign-in"
  >
    Sign In
  </button>
  <!-- <div *ngIf="user">
    Hi, {{user.firstName}}
  </div> -->
  <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>Profile</button>
    <button mat-menu-item>Bookings</button>
    <button mat-menu-item>Purchases</button>
    <button mat-menu-item>Sign Out</button>
  </mat-menu>
</mat-toolbar>
