<mat-card class="package-form-container-card">
  <mat-card-title class="package-form-container-card-title">
    Package Registration Form
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="packageForm">
      <div class="form-row-inline">
        <div class="packageName">
          <label for="packageName">Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="packageName"
            placeholder="Name"
          />
        </div>
        <div class="packageType">
          <label for="packageType">Package Type</label>
          <select
            class="form-select"
            formControlName="packageType"
            aria-label="Default select example"
          >
            <option selected value="">Select Package Type</option>
            <option value="Regular">Regular</option>
            <option value="Special">Special</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <label for="packageCaption">Caption</label>
        <input
          type="text"
          class="form-control"
          formControlName="packageCaption"
          placeholder="Caption"
        />
      </div>
      <div class="form-row">
        <label for="packageDescription">Description</label>
        <textarea
          type="text"
          class="form-control"
          formControlName="packageDescription"
          placeholder="Description"
        ></textarea>
      </div>
      <div class="form-row-inline">
        <div class="packageDays">
          <label for="packageDayCount">Days</label>
          <input
            type="number"
            class="form-control"
            formControlName="packageDayCount"
            placeholder="Days"
          />
        </div>
        <div class="packageNights">
          <label for="packageNightCount">Nights</label>
          <input
            type="number"
            class="form-control"
            formControlName="packageNightCount"
            placeholder="Nights"
          />
        </div>
        <div class="packagePrice col-md-8">
          <label for="packagePrice">Price</label>
          <input
            type="number"
            class="form-control"
            formControlName="packagePrice"
            placeholder="Price"
          />
        </div>
      </div>
      <div class="form-row">
        <label for="packageCoverImageName">Upload Package Cover Image</label>
        <input
          type="file"
          class="form-control"
          formControlName="packageCoverImageName"
        />
      </div>
      <div class="action-btn-row">
        <button type="button" class="btn cancel-btn" (click)="cancel()">
          Cancel
        </button>
        <button
          type="button"
          class="btn add-package-btn"
          (click)="addPackage()"
        >
          Submit
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
