
  <div class="admin-bg-img"></div>
  <div class="admin-control-cards-container">
    <mat-card class="admin-control-cards" (click)="openPackageForm()">
      <mat-card-title>Add New Package</mat-card-title>
      <mat-card-content>
        <mat-icon>add</mat-icon>
      </mat-card-content>
    </mat-card>
    <mat-card class="admin-control-cards" (click)="openUserList()">
      <mat-card-title>Manage Users</mat-card-title>
      <mat-card-content>
        <mat-icon>edit</mat-icon>
      </mat-card-content>
    </mat-card>
    <mat-card class="admin-control-cards">
      <mat-card-title>Manage Packages</mat-card-title>
      <mat-card-content>
        <mat-icon>edit</mat-icon>
      </mat-card-content>
    </mat-card>
  </div>

