<app-carousel [carouselArrComp]="carouselArr"></app-carousel>
<div class="why-choose-us-container">
  <p class="container-heading">Why Choose Us?</p>
  <div class="stat-figures-div">
    <div class="stat-figure">
      <p class="stat-num">1.4k+</p>
      <p class="stat-def">Happy customers</p>
    </div>
    <div class="stat-figure">
      <p class="stat-num">500+</p>
      <p class="stat-def">Trips conducted</p>
    </div>
    <div class="stat-figure">
      <p class="stat-num">850+</p>
      <p class="stat-def">Above 4.5 review</p>
    </div>
  </div>
  <div class="amenities-points-div">
    <div class="amenities-column">
      <div class="amenity">
        <img src="/assets/icons/check.svg" class="check-icon" />
        <p class="amenity-element">Eventful Itineraries</p>
      </div>
      <div class="amenity">
        <img src="/assets/icons/check.svg" class="check-icon" />
        <p class="amenity-element">Deluxe Accommodations</p>
      </div>
      <div class="amenity">
        <img src="/assets/icons/check.svg" class="check-icon" />
        <p class="amenity-element">Transport Facilities</p>
      </div>
    </div>
    <div class="amenities-column">
      <div class="amenity">
        <img src="/assets/icons/check.svg" class="check-icon" />
        <p class="amenity-element">Quality Food Options</p>
      </div>
      <div class="amenity">
        <img src="/assets/icons/check.svg" class="check-icon" />
        <p class="amenity-element">Medical Facilities</p>
      </div>
      <div class="amenity">
        <img src="/assets/icons/check.svg" class="check-icon" />
        <p class="amenity-element">Affordable Rates</p>
      </div>
    </div>
  </div>
</div>
<div class="about-us-container" id="about-us">
  <p class="container-heading">About Us</p>
  <div class="quote-div">
    <img src="/assets/icons/left-quote.svg" class="left-quote-icon" />
    <p class="quote-txt">
      Traveling ... it leaves you speechless, then turns you into a storyteller
    </p>
    <p class="quote-by">- Ibn Battuta</p>
    <img src="/assets/icons/left-quote.svg" class="right-quote-icon" />
  </div>
  <div class="about-us-txt">
    <p>
      We, at <b style="font-style: italic">Safarnama</b>, swear by this and put
      stock in satisfying travel dreams that make you perpetually rich
      constantly. We put forward unique solutions, paying careful attention to
      each client’s individual needs – to deliver successful and memorable
      destination management service that is reliable, safe, affordable and
      enjoyable for all clients.
    </p>
  </div>
</div>
